h3, h4, h5, h6 {
  color: $green;
  font-weight: 600;
}

h1 {}

h2 {}

h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

blockquote {
  color: #b9bebb;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
  font-style: italic;
  padding: 2rem 0 2rem 5rem;
  margin: 3rem 0;
  background: url('../img/left-quotes.svg') top left no-repeat;
}
.button {
  clear: left;
  margin-bottom: 2rem;
}
p a {
  text-decoration: none;
  border-bottom: 1px $green dashed;
  color: $green;
  font-weight: 600;

  &:hover {
    border-bottom: 1px $lightgreen solid;
    color: $lightgreen;
  }
}