


// Breakpoints
// ================================================== //

// $breakpoints: (
//   nada: 0px,
//   tiny: 480px,
//   small: 767px,
//   medium: 992px,
//   large: 1200px,
//   xlarge: 1500px
// );

// _mixins.scss
// @mixin respond-to($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
//       @content;
//     }
//   }
//
//   @else {
//     @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
//     + "Please make sure it is defined in `$breakpoints` map.";
//   }
// }


// Ribbon
// ================================================== //

@mixin ribbon( $ribbon-color:#005325, $size-left:1.1em, $size-right:1.1em) {
	position:relative;
	width: 80%;
	&:before,
	&:after { content:""; position:absolute; }
	&:before { border-top:$size-left solid $ribbon-color;
		bottom:-$size-left;
		border-left:$size-left solid transparent;
		left:0;
	}
	&:after {
		// border-top:$size-right solid $ribbon-color;
		// bottom:-$size-right;
		// border-right:$size-right solid transparent;
		// right:0;
	}
}

// Animations and Transitions
@mixin easeBounce {
	@include transition(all 600ms ceaser($easeInOutBack));
	}
