/// Breakpoints throughout the site
$nada:0px;
$xxsmall:320px;
$xsmall:478px;
$small:640px;
$medium:1022px;
$large:1440px;
$xlarge:1920px;

/// Colours
$green: #007F39;
$lightgreen: #4EAC34;
$grey: #555555;