footer
  .fixed
    p &copy; Copyright Wycombe Recycling
    ul
      li
        a(href="#") Privacy
      li
        a(href="#") Terms
//- This will only load in Googlefonts is specified in the config file
if GoogleFonts
  link(href='//fonts.googlefonts.com/css?family=' + GoogleFonts, rel='stylesheet', type='text/css')
//- jQuery load in specified in config
if jQuery
  script(src='js/jquery.js')
script(src='js/jspost.js')