head
  title
    block Wycombe Recycling
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='A description about this page')
  link(href='css/style.css', rel='stylesheet', type='text/css')
  if Modernizr
      script(src='js/modernizr.js')
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
