nav
	ul
		li.menulink
			a(href="index.html") home
		li.menulink
			a.subbed(href="services.html") services
			//- img.plusicon(src='img/plus.svg')
			ul.subnav
				li
					a(href="skiphire.html") Skip Hire
				li
					a(href="/") Demolition
				li
					a(href="/") Grab Loader
				li
					a(href="/") Recycling
				li
					a(href="/") Crushed Hardcore
		li.menulink
			a(href="/") pricing
		li.menulink
			a(href="/") gallery
		li.menulink
			a(href="/") environment Agency
		li.menulink
			a(href="/") references
		li.menulink
			a(href="theme.html") contact us