aside.sidebar
  ul
    li
      a(href="index.html") Skip Hire
    li
      a(href="demo.html") Demolition
    li
      a(href="contact.html") Grab loader
    li
      a(href="contact.html") Recycling
    li
      a(href="contact.html") Crushed Hardcore
  h3 Our customers say…
  p "Having seen the professional way in which you demolished the building and disposed of the asbestos in the roof and all the other hazardous materials, we can only express our thanks.."
  a.button(href="#") Read More

