section.social
	.fixed
		h4 Join us on Facebook
		.facebookpage
			p this is where the Facebook page would be embedded within the .facebookpage div
		ul.sociallinks
			li.fb
				a(href="/")
					img(src="img/Facebook.png")
					p Join us on Facebook
			li.tw
				a(href="/")
					img(src="img/Twitter.png")
					p Follow us on Twitter
			li.li
				a(href="/")
					img(src="img/LinkedIN.png")
					p Connect on LinkedIn