.social-small
	.fixed
		p Get in touch today. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam officiis ea nam.
		p Call us 01234 567890 or email info@wycomberecycling.co.uk
		ul.sociallinks
			li.fb
				a(href="/")
					img(src="img/Facebook.png")
			li.tw
				a(href="/")
					img(src="img/Twitter.png")
			li.li
				a(href="/")
					img(src="img/LinkedIN.png")
