.subfooter
	.fixed
		section
			h4 Wycombe Recycling
			p We are a small family run business offering a range of demolition and recycling services.
			a.button(href="#") Read More
		section
			h4 Key sales points:
			ul
				li Over 90% of all waste collected in skips is recycled
				li Friendly and professional staff
				li A fast, reliable service
				li On the road permits arranged
				li Premium waste recycling, waste disposal and waste managment