ul.tiles
	a(href="#")
		li.skip
				p skip hire
	a(href="#")
		li.demo
			p demolition
	a(href="#")
		li.grab
			p grab loader
	a(href="#")
		li.recy
			p recycling
	a(href="#")
		li.crus
			p crushed hardcore
	a(href="#")
		li.cont
			p contact us today