.menubutton
	a.menubut(href='#') Menu
.topbar
	.fixed
		p
			img(src="img/recycle-logo.gif")
			| We are registered and licensed by the Environment Agency.
		ul.info
			li.menulink
				a(href='#') Health &amp; Safety
			li.menulink
				a(href='#') Licenses
			li.menulink
				a(href='#') Insurance
		include navbar