// Bower Imports

@import "settings";
@import "base/base";
@import "layout/layout";
@import "modules/modules";
@import "states/states";
@import "themes/themes";

@import "themes/dev";
@import "themes/shame";

body {
  background-color: #FFF;

  @include breakpoint($nada $small){
    .fixed {
      padding: 0rem 1rem 2rem 1rem;
    }
    .button {
      @include center;
      text-align: center;
      padding: 1rem;
    }
  }
}


