.fixed {
  @include center;

  @include breakpoint($small){
    h2, h3 {
      margin-top: 6rem;
    }
  }
}

.container {
  // transition: height .4s cubic-bezier(0, 1.8, 1, 1.8);
}

.content {
  @include stack;
  @include breakpoint($medium){
    @include unstack;
    @include col(4/6);
  }

  h3 {
    margin-top: 3rem;
    text-align: left;
  }
}
.sidebar {
  @include stack;
  @include breakpoint($medium){
    @include unstack;
    @include col(2/6);
  }
  // @include clean;
  background-color: white;
  position: relative;
  top: -10rem;
}
.social-small {
  clear: left;
}

// Tables
table, tbody {
  @include center;
  .titles {
    td {
      background-color: #dcdcdc;
      font-weight: 600;
      &.none {
        background-color: rgba(white, 1);
      }
    }
  }

  h5 {
    @include clean;
  }

  tr:nth-child(even) {background: white;}
  tr:nth-child(odd) {background: #dcdcdc;}

  td {
    width: 33%;
    border: 1px #d1d1d1 solid;
    padding: 0.75rem 1rem;
    text-align: center;
    color: grey;
    margin: auto;
    margin-bottom: 3rem;
    clear: both;

    span {
      color: $lightgreen;
      font-weight: 600;
    }

    &.none {
      border: none;
      background-color: none;
    }
  }

}