extends assets/templates/master
append config
  - var PageTitle = "Wycombe Recycling Ltd"
  - var jQuery = true
  - var Modernizr = true
  - var PageSlug = "wycombe-recycling"
block body
  body
    .container
      include assets/templates/includes/topbar
      header.fixed
        h1 Wycombe Recycling Ltd &amp; Demolition
        img.logo(src="img/Wycombe-Recycling-Logo.svg")
        p &amp;
        img.logo(src="img/Wycombe-Demolition-Logo.svg")
        .callus
          p Call us
          p 01494 419929
      include assets/templates/includes/navbar
      .hero
      section.fixed
        h2 Recycling - it's in our name
        p.intro Wycombe Recycling Ltd is a small family run business offering a range of demolition services. We are the first company in High Wycombe to achieve a Waste Managment License issued by the Environment Agency. This license enables us to recycle much of the collected waste which saves it being disposed of in landfill sites.
        h3 Our Services
        include assets/templates/includes/tiles
        p Get in touch today. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p Call us <span>01494 419929</span> or email <a href="mailto:info@wycomberecycling.co.uk">info@wycomberecycling.co.uk</a>
      include assets/templates/includes/social
      include assets/templates/includes/footer