extends assets/templates/master
append config
	- var PageTitle = "Wycombe Recycling Ltd"
	- var jQuery = true
	- var Modernizr = true
	- var PageSlug = "wycombe-recycling"
block body
	body.services
		.container
			include assets/templates/includes/topbar
			header.fixed
				h1 Wycombe Recycling Ltd &amp; Demolition
				img.logo(src="img/Wycombe-Recycling-Logo.svg")
				p &amp;
				img.logo(src="img/Wycombe-Demolition-Logo.svg")
				.callus
					p Call us
					p 01494 419929
			include assets/templates/includes/navbar
			.banner.blurred
				.fixed
					h2 Our Services
					p Wycombe Recycling offer a range of competitivitely prices services in Bucks &amp; the surrounding areas.
			section.fixed
				include assets/templates/includes/tiles
			include assets/templates/includes/subfooter
			include assets/templates/includes/social-small
			include assets/templates/includes/footer