extends assets/templates/master
append config
	- var PageTitle = "Wycombe Recycling Ltd"
	- var jQuery = true
	- var Modernizr = true
	- var PageSlug = "wycombe-recycling"
block body
	body.services
		.container
			include assets/templates/includes/topbar
			header.fixed
				h1 Wycombe Recycling Ltd &amp; Demolition
				img.logo(src="img/Wycombe-Recycling-Logo.svg")
				p &amp;
				img.logo(src="img/Wycombe-Demolition-Logo.svg")
				.callus
					p Call us
					p 01494 419929
			include assets/templates/includes/navbar
			.banner.blurred
				.fixed
					h2 Our Services
					p Skip Hire
			.fixed
				.content
					p We at Wycombe Recycling like to think we go that little hit extra with our service which is why we have the latest technology when delivering service to you. When placing orders you can automatically receive a text or email confirmation at receipt or payment and when our driver when he is on his way to you, you can automatically receive a text or email confirmation too. We are not a massive company but we do have the manpower to deal with your orders in a friendly and efficient manner. Please do not hesitate to contact us with any questions.
					h3 Current Standard Skip Hire Rates
					p Call us 01234 561890 or email info@wycomberecycling.co.uk
					p Prices are subject to materials being disposed or and site location, please call to discuss.
					p Please do not overfill the skips. They must he safe to transport. if you overfill the skip, please do not be offended if our driver asks you to take some items out. It is his licence at stake if he picks up the load and it is unsafe.
					h3 What size skip do you need?
					p The above are the sizes and prices or our skips. Call us old fashioned but for some reason skip sizes are still measured in cubic yards! The 6 yard builders skip is the most common which is about the size of a small car. If you need more guidance on sizes, please just call.
				include assets/templates/includes/sidebar
			include assets/templates/includes/social-small
			include assets/templates/includes/footer