extends assets/templates/master
append config
	- var PageTitle = "Wycombe Recycling Ltd"
	- var jQuery = true
	- var Modernizr = true
	- var PageSlug = "wycombe-recycling"
block body
	body.services
		.container
			include assets/templates/includes/topbar
			header.fixed
				h1 Wycombe Recycling Ltd &amp; Demolition
				img.logo(src="img/Wycombe-Recycling-Logo.svg")
				p &amp;
				img.logo(src="img/Wycombe-Demolition-Logo.svg")
				.callus
					p Call us
					p 01494 419929
			include assets/templates/includes/navbar
			.banner.blurred
				.fixed
					h2 Header 2
					p Paragraph Header Sub Title
			.fixed
				.content
					p paragraph example Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, mollitia, eveniet, beatae at facilis exercitationem perspiciatis soluta perferendis odit ullam voluptatum qui provident assumenda unde nesciunt veritatis reprehenderit debitis iste nam consectetur nemo ratione enim. Explicabo, eius incidunt doloribus culpa ex corporis itaque vero error!
					h3 Header 3
					p
						a(href="#") Inline Link
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, aliquid ad temporibus eligendi pariatur tempore recusandae deleniti mollitia dolorum iste voluptatem velit molestias possimus laborum atque reprehenderit perferendis? Quisquam nisi fugiat at.
					h4 Header 4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, perspiciatis, iure atque quod provident ipsa in odio repudiandae asperiores deserunt cum esse veniam. Incidunt, similique, mollitia repellat necessitatibus tempore temporibus magnam id repellendus asperiores.
					table
						tr.titles
							td.none
							td Size
							td Price
						tr
							td
								h5 2 Yard (Mini Skip)
							td 1.9m x 1.3m x 0.9m
							td from <span>£95 - £150</span> + VAT
						tr
							td
								h5 2 Yard (Mini Skip)
							td 1.9m x 1.3m x 0.9m
							td from <span>£95 - £150</span> + VAT
						tr
							td
								h5 2 Yard (Mini Skip)
							td 1.9m x 1.3m x 0.9m
							td from <span>£95 - £150</span> + VAT
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, perspiciatis, iure atque quod provident ipsa in odio repudiandae asperiores deserunt cum esse veniam. Incidunt, similique, mollitia repellat necessitatibus tempore temporibus magnam id repellendus asperiores.
					h5 Header 5
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, nihil, necessitatibus, praesentium ducimus quasi repudiandae maxime ab laboriosam rem cupiditate quidem rerum debitis nemo. Dolor, suscipit, aliquid rem facilis hic minima vitae perferendis iste.
					blockquote Blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, inventore animi deserunt ea illo corporis a eum assumenda?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, nihil, necessitatibus, praesentium ducimus quasi repudiandae maxime ab laboriosam rem cupiditate quidem rerum debitis nemo. Dolor, suscipit, aliquid rem facilis hic minima vitae perferendis iste.

				include assets/templates/includes/sidebar
			include assets/templates/includes/social-small
			include assets/templates/includes/footer