.banner {

}
.blurred {
	@include breakpoint($nada $small){
		// padding: 4rem 0;
		margin-bottom: 0;
	}
	background: #778C80 url('../img/banner-blurred.jpg') center no-repeat;
	background-size: cover;
	padding: 2rem 0;
	margin-bottom: 2rem;

	h2, p {
		@include clean;
		text-align: left;
		color: white;
	}
	h2 {
		padding-bottom: 1rem;
	}
}
