footer {
	.fixed {
		padding: 1rem 0;
	}
	p, ul, li {
		color: $grey;
	}
	p {
		float: left;
		margin: 0;
		font-size: 1rem;
	}
	ul {
		float: right;
		display: block;
		margin: 0;
		padding-top: 0.2rem;

		li {
			display: inline;
			padding: 0 1rem;
			border-left: 1px #000 solid;
			font-size: 1rem;

			a {
				text-decoration: none;
				color: $grey;
			}

			&:first-child {border: none;}
			&:last-child {padding-right: 0;}
		}
	}
	@include breakpoint($nada $small){
		p, ul {
			@include center;
			text-align: center;
		}
	}
}