header {
	h1 {@include hide-text;}

	@include breakpoint($nada $xsmall) {

		img {
			margin-top: 0.5em;
			max-width: 100%;
		}
		img, .callus {
			@include span(10/12, $offset:1/12);
			padding-bottom: 1em;
		}
		img + p {
			@include hide-text;
		}

		.callus {
			p {
				width: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 1.5em;

				&:last-child {
					font-weight: 800;
					background-color: white;
					margin-top: 1rem;
					padding: 0.5em 0;
					border: $lightgreen 2px solid;
					color: $lightgreen;
					a {
						color: $lightgreen;
						text-decoration: none;
						border-bottom: none;
					}
					&:hover {
						background-color: $lightgreen;
						color: white;
						cursor: pointer;
					}

				}
			}
		}
	}


	@include breakpoint($xsmall){
		padding: 3em 0;

		img, p {float: left;}
		img + p {
			color: $grey;
			font-weight: 600;
			// padding: 0 3em;
		}
		.callus {
			float: right;

			p {
				width: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 1.5em;

				&:last-child {
					color: $green;
					font-weight: 800;
				}
			}
		}
	}// xsmall

	@include breakpoint($xsmall $medium){

		@include center;
		img {
			width: 45%;
		}
		img + p {
			width: 10%;
			padding: 0;
			margin-right: 0;
			text-align: center;
		}
		.callus {
			@include col(10/12, $offset:1/12);
			padding-top: 2rem;
			p {
				display: inline;
				float: left;
			}
		}
	}

	@include breakpoint($medium){
		@include center;

		.logo {
			@include span(4/12);
		}
		p {
			@include span(1/12);
			text-align: center;
			// @include clean;
		}
		.callus {
			@include span(3/12);
			padding-right: 0;
			margin-right: 0;
		}
	}


}