@include breakpoint($nada $medium){
	header + nav {
		display: none;
	}
}
nav {
	width: 100%;
	background-color: $lightgreen;
	position: relative;

	ul {
		@include center();
		padding: 1.2rem 0;
		margin-bottom: 0;
	}

	li {
		display: inline;
		padding: 1.2rem;
		color: white;
		position: relative;
		text-transform: capitalize;
		font-weight: 400;
		@include breakpoint(640 900){
			font-size: 12px;
		}

		&:hover {
			background-color: $green;
			border-bottom: 1px $green solid;
		}
	}
	a {
		color: white;
		text-decoration: none;
	}
	// @include breakpoint($small $medium){
	// 	li {
	// 		a {
	// 			font-size: 12px;
	// 			padding: 1rem 0.8rem;
	// 		}
	// 	}
	// }
}
.subnav {
	display: none;
	position: relative;

	li {
		background-color: $green;
	}

	&.open {
		display: block;
	}
}

@include breakpoint($medium){
	nav ul li:hover ul {
		display:inline-block;
		position: absolute;
		left: 0;
		top: 37px;
		width: 200px;
	}
	nav ul li:hover ul li {
		padding: 1rem 0;
	}
	nav ul li:hover ul li a {
		display:block;
		background: $green;
		color: white;
		width: 100%;
		text-align: left;
		border-right:none;
		padding: 1rem;
	}
	nav ul li:hover ul li a:hover{
		background: $lightgreen;
		color: white;
	}
}

.topbar {
	@include breakpoint($nada $small){
		p img {
			display: none;
		}
	}
}

.subbed {
	// text-transform: lowercase;
	// content: (url"../img/arrow.svg");
	// font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	// // background-color: $green;
	// padding: 0.1rem 0.4rem;
	// border-radius: 50%;
	// margin-left: 0.3rem;
	// color: $green;

	@include breakpoint($medium){
		background: url(../img/arrow.png) right center no-repeat;
		padding-right: 1.2rem;
	}
}

// .plusicon {
//   float: right;
//   position: relative;
//   right: 1rem;
//   cursor: pointer;
//   @include breakpoint($medium){
//     display: none;
//   }
// }


