.sidebar {
	ul {
		padding: 1rem!important;
		@include clean;
	}
	h3 {
		@include clean;
		text-align: left;
	}
	li {
		list-style: none;
		width: 100%;
		margin-bottom: 0.5rem;
		padding: 0.5rem 0;
		font-size: 1.2rem;
		background-color: $green;

		&:hover, &:focus {
			background-color: $lightgreen;
		}

		a {
			padding-left: 1rem;
			text-decoration: none;
			color: white;
		}
	}
	h3, p, .button {
		margin: 0 1rem;
	}
	h3{
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 2rem;
	}
}