.social-small {
	background: $green url('../img/rocks-repeat-tile.jpg') top left repeat;
	padding: 2rem 0;

	p {
		color: white;
		text-align: center;
	}
	a {
		color: white;
		border-bottom: 1px white dashed;
		&:hover, &:focus {
			border-bottom: 1px white solid;
		}
	}
	.sociallinks {
		@include breakpoint($small){
		@include col(1/3, $offset:1/3);

		 li {
		 	@include col(1/3);
			}
	 	}
	 	a {
	 		border-bottom: none;
	 		text-decoration: none;
	 	}
	}

	// .sociallinks {
	// 	// @include align(horizontal);
	// 	// @include centerer;
	// 	@include breakpoint ($nada $medium){
	//
	// 	}
	// 	@include col(1/3, $offset:1/3);
	// 	@include breakpoint ($nada $medium){
	// 		@include span(1/3, $offset:1/3);
	// 	}
	// 	li {
	// 		display: inline;
	// 		@include col(1/3);
	//
	// 		a {
	// 			border-bottom: none;
	// 		}
	// 	}
	// }
}