.social {
	background: url('../img/footer-tile-2.jpg') top left repeat;
	padding: 3rem 0;
	@include breakpoint($nada $small){
		padding: 0;
		h4 {text-align: center;}
		p {display: none;}
		ul {
			// margin: auto;
		}
		// margin: 1rem 0;
		// position: relative;
		// left: 30%;
		// right: 30%;
		// width: 80%;
	}

	h4 {color: white;}
	p {margin: 0;}
}

.facebookpage {
	background-color: white;
	@include center;
	height: 300px;
	margin-bottom: 2rem;

	@include breakpoint($small){
		height: 300px;
		@include col(2/3);
		// border: 3px solid blue;
	}
}

.sociallinks {
	@include clean;
	list-style: none;
	@include breakpoint($small){
		// @include col(1/3);

		a {
			text-decoration: none;
		}

		li {
			padding-bottom: 1rem;
			@include breakpoint($nada $small){
				padding-bottom: 0;
				p {@include hide-text;}

			}
		}

		img {
			float: left;
			background-color: #FFF;
			margin-right: 1rem;
			// clear: left;
			}

		p {
			color: white;
			padding: 1rem 0 1rem 3rem;
			font-size: 1.2rem;
		}
	}
	@include breakpoint($nada $small){
		@include center;
		margin-top: 2rem;
		li {
			@include col(1/5);
			// margin: 0;
			float: left;
			display: inline;
			&:first-child {
				@include col(1/5, $offset:1/5);
			}
		}
		img {
			background-color: white;
		}
	}
}

.facebookpage p {
	display: inline;
}