.subfooter {
	background: #E1E1E1 url('../img/rocks-repeat-bw-tile.jpg') top left repeat;
	padding: 3rem 0;

	section {
		@include stack;

		@include breakpoint($small){
			@include unstack;
			@include col(1/2);
		}
	}
	.button {
		position: relative;
		top: 1rem;
	}

	h4 {
		color: $green;
		font-size: 1.2rem;
		font-weight: 200;
		// @include clean;
		margin: 0 0 2rem 0;
	}
	p {
		font-size: 1rem;
	}

	ul {
		list-style: none;
		@include clean;
	}
	li {
		padding-left: 1em;
		text-indent: -.7em;
		color: $grey;
		padding-bottom: 0.7rem;

		&:before {
			content: "• ";
			color: $lightgreen;
		}
	}
}