.tiles {
	@include breakpoint($nada $medium){
		margin-top: 2rem;
	}

	@include center;
	margin: 0;
	padding: 0;

	.skip {background-image: url('../img/skiphire-tile.jpg');}
	.demo {background-image: url('../img/demolition-tile.jpg');}
	.grab {background-image: url('../img/grabloader-tile.jpg');}
	.recy {background-image: url('../img/recycling-tile.jpg');}
	.crus {background-image: url('../img/hardcore-tile.jpg');}
	.cont {background-image: url('../img/contact-tile.jpg');}

	a {
		// height: 200px;
		text-decoration: none;

		@include breakpoint($small){
			@include unstack;
			@include col(1/2, $cycle:2);
		}

		@include breakpoint($medium){
			@include col(1/3, $uncycle:2, $cycle:3);
		}

		p {
			@include ribbon;
			background-color: $green;
			margin-left: -1em;
			// margin-top: 6.2em;
			padding: 0.7em 0 0.7em 1em;
			color: white;
			text-transform: capitalize;
			text-decoration: none;
			line-height: 0.8;
			position: relative;
			top: 6rem;
			border: 1px solid $green;
			@include breakpoint($nada $small){
				margin-top: 0em;
			}
	}

	li {
		list-style: none;
		height: 170px;
		// background-image: url('http://placekitten.com/g/300/300');
		margin-bottom: 2rem;
		border-radius: 0.2em;
		transition: all .2s ease-in-out;
		background-size: cover;

		&:hover, &:active {
			opacity: 0.7;
		}
		}
	}
}