.menubutton {
	@include center;
	background-color: #E1E1E1;
	padding-bottom: 1em;
	border-bottom: 1px #c5c5c5 solid;
	margin-bottom: 1rem;

	a {
		position: relative;
		top: 0.5rem;
		left: 0.5rem;
		float: left;
		border: 1px #c5c5c5 solid;
		border-radius: 4px;
		@include clean;
		padding: 0.25em 0.5em;
		text-decoration: none;
		color: $grey;
	}

	@include breakpoint($medium){
		display: none;
	}
}

.topbar {
	background-color: #F2F2F2;
	border-bottom: 1px #C8C8C8 solid;
	z-index: 10;
	@include breakpoint($small) {
		padding: 0 0 0.8rem 0;
	}
	@include breakpoint($small $medium) {
		p, ul {
			@include center;
			text-align: center;
		}
	}

	.info a {
		text-decoration: none;
		color: $grey;

		&:hover, &:focus {
			color: grey;
		}
	}

	p {
		text-align: center;
		padding: 0 1em;

	}
	@include breakpoint($nada $small){
		// overflow: hidden;
		position: absolute;
		top: -1000px;
		// transition: height .4s cubic-bezier(0, 1.8, 1, 1.8);
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				@include center;
				text-align: center;
				font-size: 22px;
				padding: 0.5em 0;
				border-top: 1px solid #E1E1E1;
				color: $grey;
			}
		}
		&.show {
			top: 0;
		}
	}

	@include breakpoint($small $medium){
		// overflow: hidden;
		position: absolute;
		left: -1000px;
		// transition: height .4s cubic-bezier(0, 1.8, 1, 1.8);
		ul {
			padding: 0;
			margin: 0;
			width: 70%;
			li {
				list-style: none;
				@include center;
				text-align: center;
				font-size: 22px;
				padding: 0.5em 0;
				border-top: 1px solid #E1E1E1;
				color: $grey;
			}
		}
		&.show {
			left: 0;
		}
	}


	@include breakpoint($medium) {

		nav {display: none;}

		.fixed {

			p, ul, li {
				padding: 0;
				margin: 0;
			}
			p, li {
				font-weight: 600;
				font-size: 0.7em;
			}
			p {
				float: left;
				color: #999999;
			}
			img {
				position: relative;
				top: 8px;
				padding-right: 1em;
			}
			ul {
				float: right;
				padding-top: 0.6em;
			}
			li {
				color: $grey;
				list-style: none;
				display: inline;
				padding-left: 2rem;
				color: #555555;
				font-size: 0.7em;
			}
		}
	}//tiny

}

ul.info {
	text-align: right;
}
.show {
	@include center;
	position: absolute;
	top: 0;
	width: 100%;

	ul, li {
		width: 100%;
	}
}