

h1 {}
h2, h3 {
	text-align: center;
	color: $green;
}
h3 {
}

p {
	color: $grey;
	font-size: 1.1em;
	line-height: 1.6em;
	letter-spacing: 0.02em;
}

.callus p {
	color: $lightgreen;
}

.tiles ~ p {
	text-align: center;
	span, a {
		font-weight: 800;
		color: $lightgreen;
	}
}
