@import "typography";
@import "topbar";
@import "header";
@import "nav";
@import "hero";
@import "banner-blurred";
@import "tiles";
@import "sidebar";
@import "subfooter";
@import "social";
@import "social-small";
@import "footer";


.intro {
  text-align: center;
}


.button {
  padding: 0.5em 2.5em;
  border: 2px solid $lightgreen;
  text-decoration: none;
  color: $lightgreen;
  // transition: height .4s cubic-bezier(0, 1.8, 1, 1.8);

  &:hover, &:focus {
    background-color: $lightgreen;
    color: white;
  }
}