- var ProjectName = "Wycombe Recycling"
- var PageTitle = "Wycombe Recycling"
- var PageSlug = "wycombe"
- var MetaDesc = 'Wycombe Recycling Ltd is a small family run business offering a range of demolition and recycling services.'
//- - var GoogleFonts = 'Wellfleet'
- var jQuery = false
- var Modernizr = true
//- Analytics Codes
//- - var Piwik = "12345"
//- - var GoogleAnalytics = "1234567"
- var BodyClasses = ['bodyclass_one','bodyclass_two']
